@page "/game"
@page "/game/{GameId}"

<div class="d-flex vh-100 flex-column">
    <div class="flex-fill p-3 sky">
        <div class="d-flex flex-row">
            <div class="flex-fill">
                <button class="btn btn-primary pr-2" @onclick="ToggleGameState">
                    @(CurrentGame.IsStarted ? "Stop" : "Start") Game
                </button>
                <input type="checkbox" id="isEasy" @bind="@CurrentGame.IsEasy"/><label for="isEasy">Easy Mode</label>
                <a href="/">Back</a>
            </div>
            <div><span class="message">@CurrentGame.Message</span></div>
            <div class="flex-fill text-right">
                <span class="score">@CurrentGame.Score</span>
            </div>
        </div>
    </div>
    <div class="d-flex flex-fill water" id="wrapper">        
        <div class="d-flex flex-column players flex-grow-1">
            @foreach (var player in Context.CurrentGame.Players)
            {
                <div class="player d-flex flex-column justify-content-center h-100 pl-3" >@player.Name</div>
            }
        </div>

        
        @foreach (var shark in CurrentGame.Sharks)
        {
            <SharkComponent Shark="@shark" />
        }
    </div>
</div>


